<div class="container pt-4">
  <h1>Stupid Coaching</h1>
  <form action="/answer" data-turbo="false">
    <label for="question" class="form-label">Ask your coach anything:</label>
    <div class="d-flex border border-dark rounded">
      <input type="text" name="question" id="question" class="form-control border border-0">
      <input type="submit" value="Ask" class="btn btn-primary border border-0 rounded-end">
    </div>
  </form>
</div>
